* {
    font-family:  'Droid Sans Mono Nerd Font', sans-serif;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#disk,
#mode,
#idle_inhibitor,
#custom-kblayout {
  color: rgba(244, 220, 200, 1);
  background: rgba(0,80,100,0.8);
  margin: 0px 5px;
  padding: 0px 10px;
  border-radius: 10px;
}

#idle_inhibitor {
  padding-right: 15px;
}

#workspaces button {
  padding: 3px 15px 0px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
  color: rgba(235, 210, 10, 1);
  text-decoration: underline;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected,
#temperature.critical {
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
